
// PARA UTILIZAR NA DIV PAI
.paiNot{
    display: flex;
    justify-content: center;
}
.notification{
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    margin-top: 18px;
}