.inputDisplay{
    width: 282px;
    height: 48px;
    background-color: #262626;
    color :#fff;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #6F6F6F;
    padding-right: 15px;
    padding-left: 15px;
    // margin-left: 7%;

    &:focus{
        border: 2px solid var(--blue-60);
        outline: none;
    }

    &:placeholder{
        color: var(--field-01);
    }
}

@media (min-width: 768px){
    .inputDisplay{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        input{
            // padding-left: 40px;
            width: 657px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
}
